version: "3.9"

services:
  backend:
    build: ./server
    container_name: myapp-backend
    ports:
      - "5001:5000"   # host:container
    environment:
      - NODE_ENV=production

  frontend:
    build: ./client
    container_name: myapp-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
